.createTodo-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 1em;
  background-color: transparent;
}

.createTodo-container button {
  width: 90%;
  max-width: 400px;
  height: 4.4rem;
  font-size: 1.5rem;
  border: none;
  background-color: rgba(26, 194, 40, 1) ;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createTodo-container button:hover {
  background-color: rgba(26, 194, 40, 0.727);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
